@model Tuoterekisteri.Models.Loan

@{
    ViewBag.Title = T.txt[10, L.nr];
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@T.txt[10, L.nr]</title>
</head>
<body>
    <h3>@T.txt[19, L.nr]</h3>
    <div>
        <h4>Loan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.loan_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.loan_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.user_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.user_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.location_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.location_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.product_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.product_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.loaned_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.loaned_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.spec_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.spec_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value=@T.txt[10, L.nr] class="btn btn-default" /> |
                @Html.ActionLink(T.txt[15, L.nr], "Index")
            </div>
        }
    </div>
</body>
</html>
