@model Tuoterekisteri.Models.Loan

@{
    ViewBag.Title = T.txt[10, L.nr];
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@T.txt[10, L.nr]</title>
</head>
<body>
    <h3>@T.txt[19, L.nr]</h3>
    <div>
        <h4>Loan</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @T.txt[2, L.nr]
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.username)
            </dd>

            <dt>
                @T.txt[14, L.nr]
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.location_name)
            </dd>

            <dt>
                @T.txt[31, L.nr]
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.product_name)
            </dd>

            <dt>
                @T.txt[39, L.nr]
            </dt>

            <dd>
                @Html.DisplayFor(model => model.loaned_date)
            </dd>

            <dt>
                @T.txt[29, L.nr]
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Specification.loan_spec)
            </dd>

            <dt>
                @T.txt[39, L.nr]
            </dt>

            @if (Model.status == 1)
            {
                <dd>@T.txt[39, L.nr]</dd>
            }
            else
            {
                <dd>-</dd>
            }

        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value=@T.txt[10, L.nr] class="btn btn-default" /> |
                @Html.ActionLink(T.txt[15, L.nr], "Index")
            </div>
        }
    </div>
</body>
</html>
