@model IEnumerable<Tuoterekisteri.Models.Loan>

@{
    ViewBag.Title = T.txt[16, L.nr];
}



<h2>@T.txt[16, L.nr]</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@T.txt[16, L.nr]</title>
</head>
<body>
   

    <table class="table">
        <tr>

            <th>
                @T.txt[2, L.nr]
            </th>
            <th>
                @T.txt[14, L.nr]
            </th>
            <th>
                @T.txt[31, L.nr]
            </th>
            <th>
                @T.txt[39, L.nr]
            </th>
            <th>
                @T.txt[29, L.nr]
            </th>
            <th>
                @T.txt[39, L.nr]
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.location_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaned_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specification.loan_spec)
        </td>
        @if (item.status == 1)
        {
        <td>@T.txt[39, L.nr]</td>
        }
        else
        {
            <td>-</td>
        }
        <td>

            @Html.ActionLink(T.txt[18, L.nr], "Details", new { id = item.loan_id }) |
            @Html.ActionLink(T.txt[10, L.nr], "Delete", new { id = item.loan_id })

        </td>
    </tr>
        }

    </table>
</body>
</html>
