@model IEnumerable<Tuoterekisteri.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.loaned_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.location_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specification.loan_spec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.loaned_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.location_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specification.loan_spec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.loan_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.loan_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.loan_id })
        </td>
    </tr>
}

</table>
