@model Tuoterekisteri.Models.Specification

@{
    ViewBag.Title = T.txt[10, L.nr];
}

<h2>@T.txt[10, L.nr]</h2>

<h3>@T.txt[19, L.nr]</h3>
<div>
    <h4>@T.txt[29, L.nr]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @T.txt[29, L.nr]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loan_spec)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@T.txt[10, L.nr] class="btn btn-default" /> |
            @Html.ActionLink(T.txt[15, L.nr], "Index")
        </div>
    }
</div>
