@model Tuoterekisteri.Models.Product

@{
    ViewBag.Title = T.txt[9, L.nr];
}

<h2>@T.txt[9, L.nr]</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>@T.txt[31, L.nr]</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label(T.txt[35, L.nr], htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(T.txt[36, L.nr], htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.product_row2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.product_row2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(T.txt[34, L.nr], htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.barcode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.barcode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(T.txt[30, L.nr], htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("product_group_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.product_group_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@T.txt[9, L.nr] class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(T.txt[15, L.nr], "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
