@model Tuoterekisteri.Models.Product

@{
    ViewBag.Title = T.txt[18, L.nr];
}

<h2>@T.txt[18, L.nr]</h2>

<div>
    <h4>@T.txt[31, L.nr]</h4>
    <hr />
    <dl class="dl-horizontal">
        >

        <dt>
            @T.txt[35, L.nr]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @T.txt[36, L.nr]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_row2)
        </dd>

        <dt>
            @T.txt[34, L.nr]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barcode)
        </dd>

        <dt>
            @T.txt[30, L.nr]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productgroup.product_group_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(T.txt[11, L.nr], "Edit", new { id = Model.product_id }) |
    @Html.ActionLink(T.txt[15, L.nr], "Index")
</p>
