@model IEnumerable<Tuoterekisteri.Models.Product>

@{
    ViewBag.Title = T.txt[16, L.nr];
}

<h2>@T.txt[16, L.nr]</h2>

<p>
    @Html.ActionLink(T.txt[17, L.nr], "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @T.txt[35, L.nr]
        </th>
        <th>
            @T.txt[36, L.nr]
        </th>
        <th>
            @T.txt[30, L.nr]
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_row2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productgroup.product_group_name)
        </td>
        <td>
            @Html.ActionLink(T.txt[11, L.nr], "Edit", new { id=item.product_id }) |
            @Html.ActionLink(T.txt[18, L.nr], "Details", new { id=item.product_id }) |
            @Html.ActionLink(T.txt[10, L.nr], "Delete", new { id=item.product_id })
        </td>
    </tr>
}

</table>
